@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Poppins:wght@200;300;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    color:hsl(210, 10%, 33%) ;
    font-family: "Bai Jamjuree", sans-serif;
    text-align: center;
    margin: 0;
}

header {
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0 20px;
}

img {
    max-width: 100%;
}

p {
    color: hsl(201, 11%, 66%);
    line-height: 1,7;
}

section {
    padding: 30px 0;
}

.container {
    max-width: 100%;
    margin: 30px auto;
    width: 1200px;
    padding: 0 20px;
}

.container-small {
    width: 600px;
}

.download {
    margin: 100px auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flex > * {
    flex: 1;
    padding: 10px;
}

.btn {
    border: none;
    padding: 15px 35px;
    border-radius: 50px;
    color: #FFF;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 600;
    margin: 5px;
    font-size: 15px 5px;
}

.btn-primary {
    background-color: hsl(171, 66%, 44%);
    box-shadow: 0 5px hsl(171, 66%, 31%);
}

.btn-secondary {
    background-color: hsl(233, 100%, 69%);
    box-shadow: 0 5px hsl(233, 45%, 48%)
}

footer {
    background-color: hsl(200, 7%, 84%);
}

footer img {
    width: 60px;
}

footer ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
}

footer ul a {
    color: hsl(210, 10%, 33%);
    text-decoration: none;
}

footer .links {
    flex: 3;
}

footer .links li {
    margin-right: 40px;
    padding: 10px;
}

footer .social li {
    margin-right: 0 5px;
}

footer .social a {
    font-size: 24px;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .flex {
        flex-direction: column;
    }
    
    footer .links li {
        padding: 10px;
        margin-right: 0;
    }

    footer .links {
        flex-direction: column;
    }
}


/* - Strong Cyan: hsl(171, 66%, 44%)
- Light Blue: hsl(233, 100%, 69%)
- Dark Grayish Blue: hsl(210, 10%, 33%)
- Grayish Blue: hsl(201, 11%, 66%) */